<section>
	<h1>Добавление персоны</h1>
	<form action="/api/person/add" method="POST">
		<div class=row>
			<div class="col-md-6">
				<div class="form-group">
					<label for="firstName">Имя</label>
					<input type="text" class="form-control" id="firstName" name="firstName" placeholder="логин">
				</div>
				<div class="form-group">
					<label for="lastName">Фамилия</label>
					<input type="text" class="form-control" id="lastName" name="lastName" placeholder="фамилия">
				</div>				
				<div class="form-group">
					<label for="middleName">Отчество</label>
					<input type="text" class="form-control" id="middleName" name="middleName" placeholder="отчество">
				</div>				
				<div class="form-group">
					<label for="passport">Удостовение личности</label>
					<input type="text" class="form-control" id="passport" name="passport" placeholder="серия и номер паспорта">
				</div>				
				<div class="form-group">
					<label for="fin">FIN-код</label>
					<input type="text" class="form-control" id="fin" name="fin" placeholder="FIN-код">
				</div>				
				<div class="form-group">
					<label for="address">Адрес</label>
					<input type="text" class="form-control" id="address" name="address" placeholder="ex. пр. Азербайджана, д. 30">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="phone">Телефон</label>
					<input type="text" class="form-control" id="phone" name="phone" placeholder="ex. +994 12 123 45 67">
				</div>				
				<div class="form-group">
					<label for="mobile">Моб. телефон</label>
					<input type="text" class="form-control" id="mobile" name="mobile" placeholder="ex. +994 50 765 43 21">
				</div>				
				<div class="form-group">
					<label for="description">Группа крови</label>
					<select class="form-control" id="bloodType" name="bloodtype">
						<option value="O(I) Rh−">O(I) Rh−</option>
						<option value="O(I) Rh+">O(I) Rh+</option>
						<option value="A(II) Rh−">A(II) Rh−</option>
						<option value="A(II) Rh+">A(II) Rh+</option>
						<option value="B(III) Rh−">B(III) Rh−</option>
						<option value="B(III) Rh+">B(III) Rh+</option>
						<option value="AB(IV) Rh−">AB(IV) Rh−</option>
						<option value="AB(IV) Rh+">AB(IV) Rh+</option>
					</select>
				</div>
				<div class="form-group">
					<label for="sex">Пол</label>
					<select class="form-control" id="sex" name="sex">
						<option selected value="male">мужской</option>
						<option value="female">женский</option>
					</select>
				</div>				
				<div class="form-group">
					<label for="description">Доп. информация</label>
					<textarea class="form-control" id="description" name="description" rows="6"></textarea>
				</div>				
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Создать</button>
	</form>
</section>