{{#section 'app_css'}}
	<link href="/static/css/app.51f7f54134bd640adcee86368132829c.css" rel="stylesheet">
{{/section}}


<div class="container-fluid">
	<div id=app></div>
	<script type="text/javascript" src="/static/js/manifest.a83f937244589f248255.js"></script>
	<script type="text/javascript" src="/static/js/vendor.ca7e6ed9e9b274116805.js"></script>
	<script type="text/javascript" src="/static/js/app.c3be9797ec587b67589d.js"></script>
</div>

