{{#section 'app_css'}}
	<link href=/static/css/app.4c2210672553240451b496b9788d3e3f.css rel=stylesheet>
{{/section}}


<div class="container-fluid">
	<div id=app></div>
	<script type=text/javascript src=/static/js/manifest.ed229fd66476d232fabb.js></script>
	<script type=text/javascript src=/static/js/vendor.619a7f2e93d08efda712.js></script>
	<script type=text/javascript src=/static/js/app.80c873c7d39805ec3290.js></script>
</div>

