{{#section 'app_css'}}
	<link href="/static/css/app.d0232e77ab4ad70cb80c41ca23da554c.css" rel="stylesheet">
{{/section}}


<div class="container-fluid">
	<div id=app></div>
	<script type="text/javascript" src="/static/js/manifest.e5a4c751c16b4a0dd258.js"></script>
	<script type="text/javascript" src="/static/js/vendor.ca7e6ed9e9b274116805.js"></script>
	<script type="text/javascript" src="/static/js/app.65e286898bd5e9c9796f.js"></script>
</div>

