{{#section 'app_css'}}
	<link href=/static/css/app.cd6c923c1be14a38c938db8e04b83040.css rel=stylesheet>
{{/section}}


<div class="container-fluid">
	<div id=app></div>
	<script type=text/javascript src=/static/js/manifest.0f659638cd2b740843a5.js></script>
	<script type=text/javascript src=/static/js/vendor.619a7f2e93d08efda712.js></script>
	<script type=text/javascript src=/static/js/app.bf9368e19e51049b7165.js></script>
</div>

