<section>
	<h1>Логин страница</h1>
	<div>
		<form>
		  <div class="form-group">
		    <label for="formGroupExampleInput">Логин</label>
		    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="логин">
		  </div>
		  <div class="form-group">
		    <label for="formGroupExampleInput2">Пароль</label>
		    <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="пароль">
		  </div>
		</form>
	</div>
</section>